################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/key.pem
/.vs/sharegpt/FileContentIndex
/.vs/sharegpt/v17/.wsuo
/.vs/sharegpt/v17
/.vs
